!/log/.gitkeep
*.orig
*.sql
*.swp
*.tmproj
*hot-update.j*
.ackrc
.autotest
.DS_Store
.gemrc
.plugins
.project
.rbenv-gemsets
.rdebugrc
.redcar
.rspec
.rspec
.rspec_parallel
.ruby-gemset
.rvmrc
.solano*
.tddium*
.yardoc
/*.permission.rb.tmp
/.bundle
/.idea
/.sass-cache/
/app/assets/javascripts/*_wp_bundle.js*
/config.ru
/config/*.sphinx.conf
/config/database.yml
/config/enablement.json
/config/enablement.json.applied
/config/github_api.yml
/config/github_api.yml
/config/initializers/local.rb
/config/initializers/pry.rb
/config/jira_api.yml
/config/locales/coupa_internal/
/config/locales/en-ZZ.yml
/config/localhost.key
/config/solano_api.yml
/coverage/
/db/*.rdb
/db/sphinx
/doc/*
/log/*
/node_modules/*
/public/404.html
/public/422.html
/public/500.html
/public/assets
/public/i.js
/public/images/tmp
/public/javascripts/.idea
/public/javascripts/all.js
/public/javascripts/base_packaged.js
/public/javascripts/translations/defaults.js
/public/maintenance.html
/public/stylesheets/all.css
/public/translate.html
/script/tasks/etl/export_data.log
/script/tasks/etl/dump/*
/script/tasks/etl/dump_external_spend/*
/stuff/*
/tmp/*
/vendor/rails
chromedriver.log
en_export*
gpg-public.key
mkmf.log
Procfile
Procfile.mine
Profile
stdout
/TAGS
webrat.log
.byebug_history
/spec/config/e2e/config.yml
.env