%h1 About Me
%hr
.row
  .col-md-4    
    = image_tag "me.jpeg", width: 250, alt: "profile image"

  .col-md-8
    %p
      I am a C# developer that is now specializing towards Rails development. I like soccer and playing videos games such as World of Warcraft.
    %p
      %em #StriveForExcellence
