= video_tag 'HardDrivePhotojpeg.mp4', class: 'background', autoplay: true, muted: true, poster: 'home.jpg'
%main.inner.cover{role: "main"}
  %h1.cover-heading Welcome
  %p.lead This website is the result of my first steps into Rails development.
  %p.lead
    = link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary'
